
@font-face {
    font-family: "myFirstFont";
    src: url("../Font/Montserrat-Medium.ttf");
}

:root{
    --bgColor : #003663;
    --textColor : white;
    --textColorDark : #e6e2e7;
    --bgdarken : #083458;
    --sectionpadding : 2em 3rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--textColorDark);
    font-family: "myFirstFont";
}

$bigFont : 1.5rem ;
// note here that i am to lazy the sass var $red to green ... i changed the color to green
$red : #008c4e;
$red_dark : #cb003d;
$littleSpace : 1rem;
$sectionPadding : var(--sectionpadding);

//  preloader styles
.full {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    background-color: $red;
    z-index: 100;
}
.svg {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.line {
    stroke: white;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: animate 5s linear infinite;
    
}
@keyframes animate {
    to {
        stroke-dashoffset: 0;
    }
}

.loading {
    display: flex;
    max-width: 250px;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading span {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 5px .5rem;
    animation: bubble 1.3s linear infinite;
}
.loading .dot2 {
    animation-delay: .4s;
}
.loading .dot3{
    animation-delay: .6s;
}
@keyframes bubble {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(3);
    }
}


/* ######################### page starts ################################ */
/* ######### Remember to change the font ##########*/


body {
    background-color: var(--bgColor);
    background-image: url("../bg_large.png");
    z-index: -10;
    }
.title {
    font-weight: bold;
    font-size: 2rem;
    color: var(--textColor);
    margin-bottom: 1rem;
}
// wrapper design targets the indentation of the page
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: var(--bgColor);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 3rem;
    background-color: var(--bgdarken);
    position: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 90;
    transition: top 0.4s;
        img {
            height: 40px;
        }

    .nav_items {
        display: flex;
        list-style-type: none;
        
    }
    li{
        margin: 0 .4rem;
        font-size: 1.3rem;
        a {
            display: block;
            text-decoration: none;
            color: #008c4e;
            &:hover, i:hover {
                color: darken(#cb003d, 10deg) !important;
            }
        }
    }

}

//  BAnner dont get sectionSidePadding
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    img{
        width: 35%;  
        margin-top: 40px;
    }
    .caption {
       font-size: 1.7rem;
       width: 45%;
       color: var(--textColorDark);
       letter-spacing: 1.5px;
    }
    .caption p {
        font-size: 1.5em;
        margin-bottom: $littleSpace * 2;
        color: var(--textColor);
        // span.paddingR is a css for jvs blinker, its been toggled in the jvs
    }

    // span.paddingR {
    //     border-right: 2px solid #ffffffa8;
    // }
    button {
        display: block;
        padding: .7rem 1.1rem;
        margin-top: $littleSpace * 3 ;
        font-size:$bigFont ;
        border-radius: .3rem;
        border: none;
        cursor: pointer;
        background-color: $red;
        color: white;
        &:hover{
            background-color: $red_dark;
        }
    }
}


/* ########## About Section ######### */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $sectionPadding;
    // background-color : var(--bgdarken);
    background-image:  linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ;
    box-shadow:0 0 10px darken($color: #003663 , $amount: 10);
    h2{
        padding: .4rem;
        margin-bottom: $littleSpace;
    }
    #laptop {
        height: 120px;
        width: 120px;
        margin-bottom: $littleSpace;
    }
    .me {
        display: block;
        height: 0;
        transition: height .8s ease-out;
    }
    .show_me_picture {
        height: 300px;
        margin: 1rem;
    }
    p {
        text-align: center;
        i {
            cursor: pointer;
            display: block;
            color:$red;
            font-size: $littleSpace*1.4;
            &:hover{
                color: $red_dark;
            }
        }
    }
}

// ########## Skilss Section ######
.skills{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 $sectionPadding;
   .title {
       align-self: center;
       margin-bottom: $littleSpace;
   }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .hundred {
        flex-basis: 100%;
        height: 0;
    }
    li {
        position: relative;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $red_dark;
        margin: $littleSpace/2 0;
        box-shadow: 0px 0px 4px #777;

        .round_line{
            position: absolute;
            height: 90%;
            width: 90%;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            box-shadow: 0 0 6px var(--textColorDark);
            
            &::after{
                content : "";
                display: block;
                padding: 8px;
                position: absolute;
                left: 30%;
                top: -5px;
                background-color: $red_dark;
            }
        } 
        p {
            color: white;
            margin-top: 5px;
        }
    }
}

//  #############status section################
.status {
    padding: $sectionPadding;
    box-shadow:0 0 10px darken($color: #003663 , $amount: 10);
    margin-bottom: 1rem;
    background-image:  linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ;
    
    letter-spacing: 1.01px;
    h3 {
        padding: $littleSpace;
        span {
            color: lightgreen;
        }
    }
  blockquote {
      padding-left: $littleSpace*4;
      font-style: italic;
      font-size: .8em;
    }
 svg {
     width: 25px;
     display: inline-block;
    margin-right: 1rem;
   }
   
 #second {
     display: block;
     margin-left: auto;
 }
}


// ########### Projects section ################

.projects {
    padding: $sectionPadding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .title {
        padding: 1rem;
        text-align: center;
        flex-basis: 100%;
    }
    .project {
        width: 30%;
        box-shadow:0 0 10px darken($color: #003663 , $amount: 10);
        border-radius: .5rem;
        img {
            width: 100%;
            height: 100%;
            border-radius: .5rem;
   
        }
        .project_body{
            padding: 1rem;
            background-color: var(--bgdarken);
            .built_with {
                padding-top: .3rem;
                border-top : 2px dashed rgba(255, 255, 255, 0.448);
                margin-top: .4rem;
                i {
                    color: white;
                }
            }
        }
    }
    .img_btn_cont {
        height: 150px;
        position: relative;
        &::before {
            content : "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.596);
            transition: .5s ease-in-out;
        }
        &:hover::before {
            opacity: 1;
        }
        &:hover a {
            display: inline-block;
        }
        a {
            display: none;
            position: absolute;
            text-decoration: none;
            padding: .3rem .7rem;
            background-color: $red;
            border-radius: 5px;
            font-size: 10px;
           
            &:not(.code) {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
           }
            &:hover {
                background-color: $red_dark;
            }
   
        }
        a.code{
                bottom: 0px;
                right: 0px;
        }

    }

    a {
        display: block;
        text-align: right;
    }
    i {
        color:$red;
        font-size: $littleSpace*1.4;
        &:hover{
            color: $red_dark;
        }
    }
    
}

// ########### FOOTER ################

footer {
    background-color:var(--bgdarken);
    padding: $littleSpace;
    display: flex;
    justify-content: center;
    box-shadow: -10px 0 10px darken($color: #003663 , $amount: 10);
    p {
        color: white;
        display: flex;
        align-items: center;
        span {
            font-size: 1.5em;
            display: inline-block;
            margin-right: .2rem;
        }
    }

}


// ### MAKE YOUR MEDIA QUERIES AT THE TOP 

// media Query for medium screen

@media screen and (max-width:850px){
    //projects to diaplay two twos on one line
    :root {
        --sectionpadding : 1rem ;
    }
    body {
        background-position: left;
    }

    .project {
        flex-basis: 40%;
        margin: 1rem auto;
        // i dont like how the first twpo element almost kiss before they seperate
        min-width: 300px;
    }
}


@media screen and (max-width:770px){
    .nav {
        padding : .4rem 10px ;
        li {
            font-size: 1.2rem;
        }
        img {
            height: 30px;
        }
    }
    .title {
        font-size: 1.7rem;
    }

    // banner section #######
    .banner {
     display: flex;
     flex-direction: column;
     
     // setting up caption, fonts size reduced
     img, .caption{
         width: 95%;
         max-width: 400px;
     }
     span {
        min-height: 53px;
        display: inline-block;
    }
     .caption {
        font-size: 1.4rem;
        color: var(--textColorDark);
        letter-spacing: 1.5px;
        padding: var(--sectionpadding);
        
     }
     .caption p {
         font-size: 1.5em;
         margin-bottom: $littleSpace;
         text-align: center;
     }
     button {
         font-size: 1.2rem;
        padding: .5rem .8rem;
     }
    }


// project sectino
.projects{
    justify-content: center;
    .project {
        width: 100%;
        max-width: 300px;
    }

}

    .status {
        blockquote {
            padding-left: 1rem;
        }
    }
}


@media screen and (max-width:330px){
    /* so the typing dont displace other elements */

    .banner {
        span {
            min-height: 74px;
            display: inline-block;
        }
        .caption p {
            font-size: 1.35em;
        }
    }
    .projects {
        .project {
            min-width: 100%;
        }
    }
}