@font-face {
  font-family: "myFirstFont";
  src: url("../Font/Montserrat-Medium.ttf");
}
:root {
  --bgColor: #003663;
  --textColor: white;
  --textColorDark: #e6e2e7;
  --bgdarken: #083458;
  --sectionpadding: 2em 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--textColorDark);
  font-family: "myFirstFont";
}

.full {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #555;
  z-index: 100;
}

.svg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  stroke: white;
  stroke-width: 2px;
  fill: transparent;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}
.loading {
  display: flex;
  max-width: 250px;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 5px 0.5rem;
  animation: bubble 1.3s linear infinite;
}

.loading .dot2 {
  animation-delay: 0.4s;
}

.loading .dot3 {
  animation-delay: 0.6s;
}

@keyframes bubble {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(3);
  }
}
/* ######################### page starts ################################ */
/* ######### Remember to change the font ##########*/
body {
  background-color: var(--bgColor);
  background-image: url("../bg_large.png");
  z-index: -10;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--textColor);
  margin-bottom: 1rem;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: var(--bgColor);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  background-color: var(--bgdarken);
}
.nav img {
  height: 40px;
}
.nav .nav_items {
  display: flex;
  list-style-type: none;
}
.nav li {
  margin: 0 0.4rem;
  font-size: 1.3rem;
}
.nav li a {
  display: block;
  text-decoration: none;
  color: #008c4e;
}
.nav li a:hover, .nav li a i:hover {
  color: #98002e !important;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.banner img {
  width: 35%;
}
.banner .caption {
  font-size: 1.7rem;
  width: 45%;
  color: var(--textColorDark);
  letter-spacing: 1.5px;
}
.banner .caption p {
  font-size: 1.5em;
  margin-bottom: 2rem;
  color: var(--textColor);
}
.banner button {
  display: block;
  padding: 0.7rem 1.1rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  background-color: #008c4e;
  color: white;
}
.banner button:hover {
  background-color: #cb003d;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--sectionpadding);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 10px #001a30;
}
.about h2 {
  padding: 0.4rem;
  margin-bottom: 1rem;
}
.about img {
  height: 120px;
  width: 120px;
  margin-bottom: 1rem;
}
.about p {
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 var(--sectionpadding);
}
.skills .title {
  align-self: center;
  margin-bottom: 1rem;
}
.skills ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills .hundred {
  flex-basis: 100%;
  height: 0;
}
.skills li {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cb003d;
  margin: 0.5rem 0;
  box-shadow: 0px 0px 4px #777;
}
.skills li .round_line {
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 6px var(--textColorDark);
}
.skills li .round_line::after {
  content: "";
  display: block;
  padding: 8px;
  position: absolute;
  left: 30%;
  top: -5px;
  background-color: #cb003d;
}
.skills li p {
  color: white;
  margin-top: 5px;
}

.status {
  padding: var(--sectionpadding);
  box-shadow: 0 0 10px #001a30;
  margin-bottom: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  letter-spacing: 1.01px;
}
.status h3 {
  padding: 1rem;
}
.status h3 span {
  color: lightgreen;
}
.status blockquote {
  padding-left: 4rem;
  font-style: italic;
  font-size: 0.8em;
}
.status svg {
  width: 25px;
  display: inline-block;
  margin-right: 1rem;
}
.status #second {
  display: block;
  margin-left: auto;
}

.projects {
  padding: var(--sectionpadding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects .title {
  padding: 1rem;
  text-align: center;
  flex-basis: 100%;
}
.projects .project {
  width: 30%;
  box-shadow: 0 0 10px #001a30;
  border-radius: 0.5rem;
}
.projects .project img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.projects .project .project_body {
  padding: 1rem;
  background-color: var(--bgdarken);
}
.projects .img_btn_cont {
  height: 150px;
  position: relative;
}
.projects .img_btn_cont::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #00000098;
  transition: 0.5s ease-in-out;
}
.projects .img_btn_cont:hover::before {
  opacity: 1;
}
.projects .img_btn_cont:hover a {
  display: inline-block;
}
.projects .img_btn_cont a {
  display: none;
  position: absolute;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  background-color: #008c4e;
  border-radius: 5px;
  font-size: 10px;
}
.projects .img_btn_cont a:not(.code) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects .img_btn_cont a:hover {
  background-color: #cb003d;
}
.projects .img_btn_cont a.code {
  bottom: 0px;
  right: 0px;
}
.projects a {
  display: block;
  text-align: right;
}
.projects i {
  color: #008c4e;
  font-size: 1.4rem;
}
.projects i:hover {
  color: #cb003d;
}

footer {
  background-color: var(--bgdarken);
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: -10px 0 10px #001a30;
}
footer p {
  color: white;
  display: flex;
  align-items: center;
}
footer p span {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 0.2rem;
}

@media screen and (max-width: 850px) {
  :root {
    --sectionpadding: 1rem ;
  }

  body {
    background-position: left;
  }

  .project {
    flex-basis: 40%;
    margin: 1rem auto;
    min-width: 300px;
  }
}
@media screen and (max-width: 770px) {
  .nav {
    padding: 0.4rem 5px;
  }
  .nav li {
    font-size: 1rem;
  }
  .nav img {
    height: 30px;
  }

  .title {
    font-size: 1.7rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner img, .banner .caption {
    width: 95%;
    max-width: 400px;
  }
  .banner .caption {
    font-size: 1.4rem;
    color: var(--textColorDark);
    letter-spacing: 1.5px;
    padding: var(--sectionpadding);
  }
  .banner .caption p {
    color: #008c4e;
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: var(--textColor);
    text-align: center;
  }
  .banner button {
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
  }

  .projects {
    justify-content: center;
  }
  .projects .project {
    width: 100%;
    max-width: 300px;
  }

  .status blockquote {
    padding-left: 1rem;
  }
}